<html>
  <head>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/input.css') }}"
    />
  </head>
  <body>
    <div class="form">
      <form action="http://localhost:5000/result" method="POST">
        <div class="all">
          <h1><center>Run Bot</center></h1>
          <label for="Browser" class="required">Browser</label>
          <input
            type="text"
            id="Browser"
            name="Browser"
            value="chrome"
            placeholder="Your browser name.."
            required
          />
          <label for="Email" class="required">Email</label
          ><input
            type="email"
            name="Email"
            placeholder="Your mail id.."
            required
          />
          <label for="Password" class="required">Password</label
          ><input
            type="password"
            name="Password"
            placeholder="Your password id.."
            required
          />
          <label for="keywords" class="required">Search</label
          ><input
            type="text"
            name="keywords"
            placeholder="Your search .."
            required
          />
          <label for="blacklistCompanies">Blacklist Companies</label
          ><input
            type="text"
            name="blacklistCompanies"
            placeholder="Your blacklist Companies .."
          />
          <label for="blackListTitles">Blacklist Titles</label
          ><input
            type="text"
            name="blackListTitles"
            placeholder="Your blacklist Titles .."
          />
          <label for="blackListjobLocations">Blacklist Job Locations</label
          ><input
            type="text"
            name="blackListjobLocations"
            placeholder="Your blacklist job location .."
          />
          <label for="blackListLimitjobApplications"
            >Black Job Location Limit</label
          ><input
            type="text"
            name="blackListLimitjobApplications"
            placeholder="Your blacklist job applications .."
          />
          <label for="followCompanies">Follow Companies</label
          ><input
            type="text"
            name="followCompanies"
            value="True"
            placeholder="Enable Follow Companies .."
          />
          <label for="alert">Alert</label
          ><input
            type="text"
            name="alert"
            value="True"
            placeholder="Alert On .."
          />
          <label for="workAuthorization" class="required"
            >Work Authorization</label
          ><input
            type="text"
            name="workAuthorization"
            value="Yes"
            placeholder="Work Authorization .."
            required
          />
          <label for="defaultInput" class="required">Default Input</label
          ><input
            type="text"
            name="defaultInput"
            value="1"
            placeholder="Default Input Field .."
            required
          />
          <label for="defaultCheck" class="required">Default CheckBox</label
          ><input
            type="text"
            name="defaultCheck"
            value="Yes"
            placeholder="Default Checkboxes .."
            required
          />
          <label for="defaultRadio" class="required">Default Radio Button</label
          ><input
            type="text"
            name="defaultRadio"
            value="Yes"
            placeholder="Default Radio Buttons .."
            required
          />
        </div>
        <div class="all">
          <label for="location">Location</label>
          <select name="location" multiple="multiple" id="location">
            <option value="asia">Asia</option>
            <option value="europe">Europe</option>
            <option value="northamerica">North America</option>
            <option value="southamerica">South America</option>
            <option value="australia">Australia</option>
            <option value="africa">Africa</option>
          </select>
        </div>
        <div class="all">
          <label for="experienceLevels">Experience Location</label>
          <select
            name="experienceLevels"
            multiple="multiple"
            id="experienceLevels"
          >
            <option value="Internship">Internship</option>
            <option value="Entry_level">Entry level</option>
            <option value="Associate">Associate</option>
            <option value="Mid-Senior_level">Mid-Senior level</option>
            <option value="Director">Director</option>
            <option value="Executive">Executive</option>
          </select>
        </div>
        <div class="all">
          <label for="datePosted">Date Posted</label>
          <select name="datePosted" multiple="multiple" id="datePosted">
            <option value="Any Time">Any Time</option>
            <option value="Past Month">Past Month</option>
            <option value="Past Week">Past Week</option>
            <option value="Past 24 hours">Mid-Senior level</option>
          </select>
        </div>
        <div class="all">
          <label for="jobType">JobType</label>
          <select name="jobType" multiple="multiple" id="jobType">
            <option value="Full-time">Full-time</option>
            <option value="Part-time">Part-time</option>
            <option value="Contract">Contract</option>
            <option value="Temporary">Temporary</option>
            <option value="Volunteer">Volunteer</option>
            <option value="Intership">Intership</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div class="all">
          <label for="remote">Remote</label>
          <select name="remote" multiple="multiple" id="remote">
            <option value="On-site">On-site</option>
            <option value="Remote">Remote</option>
            <option value="Hybrid">Hybrid</option>
          </select>
        </div>
        <div class="all">
          <label for="salary">Salary</label>
          <select name="salary" multiple="multiple" id="salary">
            <option value="$40,000+">$40,000+</option>
            <option value="$60,000+">$60,000+</option>
            <option value="$80,000+">$80,000+</option>
            <option value="$100,000+">$100,000+</option>
            <option value="$120,000+">$120,000+</option>
            <option value="$140,000+">$140,000+</option>
            <option value="$160,000+">$160,000+</option>
            <option value="$180,000+">$180,000+</option>
            <option value="$200,000+">$200,000+</option>
          </select>
        </div>
        <div class="all">
          <label for="sort">Remote</label>
          <select name="sort" multiple="multiple" id="sort">
            <option value="Recent">Recent</option>
            <option value="Relevent">Relevent</option>
          </select>
        </div>
        <p><input type="submit" value="submit" /></p>
      </form>
    </div>
    <!-- <script src="{{ url_for('static',filename='js/index.js') }}"></script> -->
  </body>
</html>
