@charset "UTF-8";
html,
body {
  padding: 0px;
  margin: 0px;
  background: #ffffff;
  font-family: "Raleway", sans-serif;
  color: rgb(2, 13, 74);
}

body * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: rgb(0, 0, 43);
}
body section {
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: auto;
  border: none;
  align-items: center;
  display: block;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.all {
  border-radius: 5px;
  padding: 20px;
}
.form {
  width: 600px;
  padding: 50px;
  padding-top: 0;
  background-color: #f2f2f2;
  border: 5px solid #ffffff;
  margin: auto;
}

.required:after {
  content: " *";
  color: red;
}
